.main-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
.banner-left h1 {
  margin-top: 5%;
}
.banner-left h1 {
  font-size: 20px;
  font-weight: 900;
}
.banner-left h2 {
  color: #292929;
  font-size: 60px;
  font-weight: 700;
}
.banner-left h3 {
  color: #292929;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
}
.banner-left p {
  font-size: 16px;
  line-height: 30px;
  color: #607d8b;
}
.head-bottom {
  height: 3px;
  width: 140px;
  margin-bottom: 9px;
  margin-top: 0px;
  display: inline-block;
  background-color: #ea4020;
}

.banner-top {
  padding: 40px;
  position: relative;
  margin-top: 80px;
}
.banner-img {
  border-radius: 50% 50% 0% 50%;
  border: 15px solid #292929 !important;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.banner-img img {
  width: 100%;
}

.typing {
  position: relative;
  width: fit-content;
  padding-right: 20px;
}
.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: black;
  background: #fff;
  animation: typing 6s steps(22) infinite, caret 1s infinite;
}
@-webkit-keyframes typing {
  to {
    width: 0;
  }
}
@keyframes typing {
  to {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    color: transparent;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .banner-left h1 {
    margin-top: 80px;
    font-size: 18px;
    font-weight: 600;
  }
  .banner-left h2 {
    font-size: 40px;
    margin: 0px;
  }
  .banner-left h3 {
    font-size: 22px;
  }
  .banner-left .head-bottom {
    height: 2px;
    width: 90px;
  }
}
